@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300,400;500;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #F5F7FA;
    color: #0C1B2C;
}

h1, h2 {
    color: #0C1B2C;
}

h6 {
    color: #8F97A0;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #F57B3D;
}

a:hover {
    color: #f5854d;
    text-decoration: none;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.navbar {
    padding: 15px 10px;
    background: #F5F7FA;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/*AJAX RESPONSES MESSAGES*/

.ajax_response {
    position: fixed;
    padding: 20px 20px 0 0;
    z-index: 99999;
    top: 0;
    right: 0;
    width: 300px;
    max-width: 100%;
}

.ajax_response .message {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

.ajax_response .message:before {
    flex-basis: 0;
    margin: -5px 15px 0 0 !important;
    font-size: calc(14px * 1.2);
    color: rgba(0, 0, 0, 0.5);
}

.ajax_response .message_time {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
}

/*DEFAULT LOAD*/
.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

.ajax_load_box {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ajax_load_box_circle {
    border: 16px solid #e3e3e3;
    border-top: 16px solid #F57B3D;
    border-radius: 50%;
    margin: auto;
    width: 80px;
    height: 80px;

    -webkit-animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
    margin-top: 15px;
    font-weight: 700;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadicons {
    0% {
        transform: scale(0);
    }
    11% {
        transform: scale(1.2);
    }
    22% {
        transform: scale(1);
    }
    33% {
        transform: scale(0);
    }
}

/*DEFAULT PAGINATOR*/
.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #e3e6f0;
    border-right: 0;
    color: #7d7d83;
    font-weight: 700;
    text-decoration: none;
    transition-duration: 0.2s;
}

.paginator a:first-of-type {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.paginator a:last-of-type {
    border: none;
    border-left: 1px solid #e3e6f0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.paginator a:hover {
    background: var(--secondary);
    background-size: 200%;
}

.paginator span {
    background: #dfe3e8;
}

/*SIDEBAR*/
#sidebarCollapse {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 4;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 0;
}

.overlay.active {
    display: block;
    opacity: 1;
}

.overlay #dismiss {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #e3e3e3;
    cursor: pointer;
}

.main_sidebar {
    min-width: 225px;
    max-width: 225px;
    background: #ffffff;
    color: #787878;
    transition: all 0.3s;
    position: fixed;
    height: 100vh;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
}

.main_sidebar a {
    color: #0C1B2C;
    padding: 0.8rem;
    font-size: 16.5px;
    display: block;
    font-weight: 600;
}

.main_sidebar a:hover {
    color: #000000;
}

.main_sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main_sidebar .sidebar_header {
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.main_sidebar .sidebar_header .desktop_logo {
    width: 100%;
    max-width: 130px;
    display: block;
}

.main_sidebar .sidebar_header .mobile_logo {
    width: 100%;
    max-width: 35px;
    margin: 0 auto;
    display: none;
}

.main_sidebar .sidebar_body i {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
}

.main_sidebar .sidebar_body, .main_sidebar .sidebar_footer {
    padding: 0 20px;
}

.main_sidebar .sidebar_body .active a {
    color: #ffffff;
    font-weight: 700;
    background: #F57B3D;
    border-radius: 10px;
}

.main_sidebar .sidebar_footer {
    position: absolute;
    bottom: 0;
}

.main_sidebar .sidebar_footer img {
    width: 100%;
    max-width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #F57B3D;
}

.main_sidebar.minimize {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.main_sidebar.minimize span {
    display: none;
}


/*CONTENT*/
.mini_content {
    max-width: 935px;
    margin: 0 auto;
}

.main_content {
    width: 100%;
    padding: 0 20px 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 225px;
}

.main_content .row_item {
    margin-bottom: 30px;
}

.main_content.maximize {
    margin-left: 80px;
}

.main_content .topbar {
    background: #F5F7FA;
    box-shadow: none;
    border-bottom: 1px solid rgb(226, 231, 235);
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
}

.main_content .topbar .dropdown-toggle:after {
    display: none;
}

.main_content .topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}

.main_content .topbar a {
    color: #8F97A0;
}

.main_content .topbar a:hover {
    color: #0C1B2C;
}

.main_content .topbar .badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: -2px;
    background: var(--danger);
    color: #ffffff;
}

.main_content .topbar .dropdown-list {
    width: calc(100% - (-20rem)) !important;
}

.main_content .topbar .dropdown-list {
    padding-top: 0;
}

.main_content .topbar .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
    color: #7d7d83;
}

.main_content .topbar .dropdown-item .typeAlert {
    color: #7d7d83;
}

.main_content .topbar .dropdown-item span {
    color: #000000;
}

.main_content .topbar .dropdown-list .dropdown-header {
    background-color: #F57B3D;
    border: 1px solid #F57B3D;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
    border-radius: .25rem .25rem 0 0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.65rem;
    margin-bottom: 10px;
}

.main_content .topbar .img-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background: #F57B3D;
}

@keyframes growIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animated--grow-in, .sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

.main_content .shadow {
    border: none !important;
    border-color: #edf2f9;
    /*box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03) !important;*/
    box-shadow: 0 0 30px rgba(0, 0, 0, .05) !important;
    border-radius: .375rem;
}

.main_content .title_content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
}

.main_content .title_content h2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: .02em;
}

.main_content .title_content h6 {
    text-transform: uppercase;
    letter-spacing: .08em;
    font-size: 10px;
    font-weight: 600;
}

.main_content .card {
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid #e3e6f0;
    position: relative;
}

.main_content .card canvas {
    height: 100% !important;
    min-height: 320px !important;
    max-height: 320px !important;
}

.main_content .headline_columns h3 {
    font-size: 17px;
    font-weight: 700;
    color: #575f68;
}

.main_content .headline_columns p {
    font-size: 14px;
    color: #8F97A0;
}

.main_content .app_form h4 {
    font-size: .7em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

.main_content .list-check-price .check {
    font-size: 1.2em;
    margin-left: 8px;
    cursor: pointer;
    opacity: .4;
    color: #00DC81;
}

.main_content .list-check-price .check:hover {
    opacity: .8;
}

.main_content .list-check-price .check.active {
    opacity: 1;
}

.home_content h2 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 20px;
}

.home_content h2 span {
    font-size: 18px;
    font-weight: 400;
}

.home_content .home_stats .card .home_status_header {
    font-size: .7rem;
    font-weight: 700;
    color: #7d7d83;
    text-transform: uppercase;
}

.home_content .home_stats .card .home_status_content {
    font-size: 32px;
    font-weight: 900;
    color: #000000;
}

.home_content .home_stats .card .home_status_icon i {
    font-size: 1.5em;
    font-weight: 700;
}

.home_content .home_stats .card .home_status_icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #cdf7e7;
    color: #F57B3D;
}

.home_content .home_stats .card .home_status_icon.icon_credit_card {
    color: var(--primary);
    background: #d5e9f7;
}

.home_content .home_stats .card .home_status_icon.icon_billet {
    color: #1cc88a;
    background: #cdf7e7;
}

.home_content .home_stats .card .home_status_icon.icon_billet_pendents {
    color: var(--warning);
    background: #fce9d4;
}

.home_content .home_stats .card .home_status_icon.icon_canceled {
    color: var(--danger);
    background: #fce9d4;
}

/*not found*/
.not_found_content {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.not_found_content img {
    margin-bottom: 20px;
}

.not_found_content h2 {
    font-size: 24px;
    font-weight: 700;
}

.not_found_content p {
    font-size: 16px;
    color: #787878;
    margin: 0;
}

.not_found_content .btn {
    margin-top: 20px;
}

.app_stores .not_found_store {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.app_stores .not_found_store img {
    margin-bottom: 20px;
}

.app_stores .not_found_store h2 {
    font-size: 20px;
    font-weight: 700;
}

.app_stores .not_found_store p {
    font-size: 16px;
    color: #787878;
    margin: 0;
}


/*profile*/
.profile_photo .thumb {
    width: 150px;
    height: 150px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50% !important;
    background: #F57B3D;
    font-size: 4em;
    font-weight: 700;
    color: #ffffff;
}

.button-wrapper {
    position: relative;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}

.button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: 150px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50% !important;
    background: #F57B3D;
    font-size: 4em;
    font-weight: 700;
    color: #ffffff;
}

.button-wrapper:hover span.label {
    filter: grayscale(10%) blur(3px);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: .2s;
}

.button-wrapper .hover_profile_image {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50% !important;
    background: rgba(27, 30, 33, 0.72);
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 auto 20px;
    opacity: 0;
}

.button-wrapper .hover_profile_image i {
    font-size: 25px;
}

.button-wrapper .hover_profile_image p {
    margin: 0;
}

.button-wrapper:hover .hover_profile_image {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: .2s;
}

#upload {
    display: inline-block;
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 150px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    cursor: pointer;
    margin: 0 auto 20px;
}

/*signature*/
.signature_header .card {
    background: #F57B3D;
    text-align: center;
    color: #ffffff;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -30px;
}

.signature_header .card .card-body {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.signature_header .card .card-body img {
    max-width: 70px;
    margin-bottom: 20px;
}

.signature_header .card .card-body h2 {
    font-weight: 900;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
    color: #ffffff;
}

.signature_message .card {
    background: var(--warning);
    text-align: center;
    color: #ffffff;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -30px;
}

.signature_message .card .card-body {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.signature_message .card .card-body i {
    font-size: 70px;
    margin-bottom: 20px;
}

.signature_message .card .card-body h2 {
    font-weight: 900;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.signature_message .card .card-body p {
    color: #000000;
    font-size: 18px;
}

.signature_content .payment_content {
    margin-top: -30px;
}

.signature_content .payment_content .card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signature_content .card .signature_pay {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.signature_content .card .signature_pay h2, .signature_content .card .signature_orders h2 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

.signature_content .card .signature_pay p, .signature_content .card .signature_orders p {
    font-size: 14px;
    text-align: center;
}

.signature_content .card .signature_pay .btn {
    width: 100%;
    padding: .5rem .75rem;
}

.dropup .dropdown-toggle::after, .dropdown-toggle::after {
    margin-left: -5px;
}

.signature_content .app_signature_detail {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
}

.signature_content .app_signature_detail li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signature_content .app_signature_detail li span {
    flex-basis: 50%;
    padding: 15px;
}

.signature_content .app_signature_detail li:nth-child(2n+0) {
    background: #f8f9fc;
}

.signature_content .signature_header {
    margin-top: 20px;
}

.signature_content .signature_info p {
    font-size: 14px;
}

.signature_content .signature_info .badge-success {
    color: #ffffff;
    background: #F57B3D;
}

.signature_content .small {
    color: #8F97A0;
    font-weight: 700;
}

.signature_content h4 {
    margin: 0;
}

.signature_content h5 {
    font-size: 16px;
}

.signature_content h5 span {
    font-size: 30px;
    font-weight: 900;
}

.signature_content .credit_card {
    background: #ededf1;
    padding: 10px;
    border-radius: 5px;
}

.signature_content .change_credit_card {
    font-weight: 900;
    font-size: 14px;
}

.security {
    margin: 20px 0;
    font-weight: 400;
}

.security span {
    font-size: 14px;
}

.security .small {
    font-weight: 400;
    font-size: 12px;
}


/*settings*/
.settings_content .icon {
    font-size: 25px;
    padding: 15px;
    background: #ededf1;
    color: #7e7e84;
    border-radius: 10px;
    margin-right: 10px;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    position: relative;
}

.settings_content .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings_content .card-body {
    min-height: 112px;
}

.settings_content h3 {
    font-size: 18px;
    font-weight: 700;
    color: #1b1e21;
}

.settings_content p {
    font-size: 14px;
    color: #787878;
    margin: 0;
}

.settings_content .card-body:hover .icon {
    background: #cdf7e7;
    color: #F57B3D;
}

.settings_content .card-body:hover h3 {
    color: #F57B3D;
}

.settings_content .settings_item {
    margin-bottom: 10px;
}

/*hover item*/
.hover_item:hover {
    transform: scale(1.02);
    transition: .5s;
    cursor: pointer;
}


/*integrations*/
.app_integrations .title_app {
    font-size: 14px;
    color: #0C1B2C;
    font-weight: 700;
    text-transform: uppercase;
}

.app_integrations .card-body .row {
    margin: auto;
}

.app_integrations .intagration_item {
    text-align: center;
}

.app_integrations .intagration_item .card {
    margin-bottom: 10px;
}

.app_integrations .intagration_item .card .card-body {
    padding: 1rem 1.25rem;
}

.app_integrations .intagration_item .card .col {
    padding: 0;
}

.app_integrations .intagration_item img {
    border-radius: 10px;
    width: 50px;
}

.notification_content .row {
    margin: 0;
}

.notification_content .notification_item {
    font-size: 14px;
}

.notification_content .notification_date {
    font-size: 12px;
    color: #5c6469;
}

/*table*/
table {
    font-size: 14px;
}

/*form*/
.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.bootstrap-select .btn-light {
    display: block;
    width: 100%;
    padding: 11px 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bootstrap-select .btn-light:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(19, 216, 85, 0.4);
}

.bootstrap-select .btn-light:active {
    box-shadow: 0 0 0 0.2rem rgba(19, 216, 85, 0.4);
}

/*buttons*/
.btn_icons_space i {
    margin-right: 10px;
}

/*alerts*/
.app_main {
    position: relative;
    padding-top: 2.25rem;
    padding-bottom: 120px;
}

.main_content .alert {
    width: 100%;
    max-width: 935px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*modal*/
.modal-body .security {
    color: #7d7d83;
    margin: 0;
}

.modal-footer .btn {
    margin: 0;
    width: 50%;
    border-radius: 0;
    padding: 20px;
    font-size: 16px;
}

.trial_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.trial_bar h2 {
    color: #ffffff;
    font-size: 25px;
    margin: 0;
}


/*MEDIAQUERIES*/
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }

    #sidebarCollapse {
        display: block;
    }

    #sidebar {
        left: 0;
    }

    #sidebar.active {
        left: 250px;
    }

    .main_sidebar {
        min-width: 250px;
        max-width: 250px;
        z-index: 5;
        margin-left: -250px;
        box-shadow: none;
    }

    .main_sidebar.minimize {
        margin-left: 0 !important;
        height: 100vh;
        min-width: 250px;
        max-width: 250px;
    }

    .main_sidebar.minimize span {
        display: block;
        font-size: 14px;
        text-align: center;
    }

    .main_sidebar.minimize .sidebar_body {
        text-align: center;
    }

    .main_sidebar .sidebar_header h3 {
        display: none;
    }

    .main_content {
        margin-left: 0;
        overflow-x: hidden;
    }

    .main_content.maximize {
        margin-left: 150px;
    }

    .main_sidebar .sidebar_header strong {
        display: block;
    }
}